<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Project Meadow</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">KungFudacity</a>
        </div>
        <div class="navbar-collapse collapse">
          <!--
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
          -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            {% if display == "leaderboard" %}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
            <a href="/kaggle/leaderboard/">Leaderboard</a>
            </li>

            {% if display == "form" %}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
            <a href="/kaggle/form/">Submit Prediction</a>
            </li>

            {% for p in pages %}
              {% if display == "page" and page.handle == p.handle %}
              <li class="active">
              {% else %}
              <li>
              {% endif %}
              <a href="/kaggle/pages/{{ p.handle }}">{{ p.title }}</a>
              </li>
            {% endfor %}

          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <!--
          <div class="row placeholders">
          </div>
          -->
          {% if display == "page" %}
          <h3 class="sub-header">{{ page.title }}</h3>
          {{ page.content|safe }}

          {% elif display == "form" %}
          <h3 class="sub-header">Submit your prediction</h3>
          <form role="form" action="{% url 'kaggle:submit' %}" method="post">
           <div class="form-group">
            {% csrf_token %}
              <select name="student_id" id="student_id" class="form-control">
              {% for s in leaderboard %}
              <option value="{{ s.id }}">{{ s.name }}</option>
              {% endfor %}
              </select>
              <br />
              
              <textarea name="student_score" id="student_score" class="form-control" rows="10"></textarea>
              <br />

              <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
          </form>


          {% elif display == "leaderboard" %}
          <h3 class="sub-header">Leaderboard</h3>
          <div class="table-responsive">
            <!--<table class="table table-striped">-->
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th><a href="/kaggle/leaderboard/name">Name</a></th>
                  <th><a href="/kaggle/leaderboard/score">Score</a></th>
                  <th><a href="/kaggle/leaderboard/location">Location</a></th>
                  <th><a href="/kaggle/leaderboard/last">Last submission</a></th>
                </tr>
              </thead>
              <tbody>
                    {% for s in leaderboard %}
                      <tr>
                        <td>{{ s.id }}</td>
                        <td>{{ s.name }}</td>
                        <td>{{ s.score }}</td>
                        <td>{{ s.location }}</td>
                        <td>{{ s.last_time }}</td>
                      </tr>
                    {% endfor %}
              </tbody>
            </table>
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/dist/js/bootstrap.min.js"></script>
    <script src="/static/dist/assets/js/docs.min.js"></script>
  </body>
</html>
